extends layout

block content
  h1= title
  p Welcome to #{title}
  p Please submit your email down below #{sub}
  form(action="/", method= "POST")
    input(name="lead_email", type="email",placeholder="Enter you email address here")
    button(type="submit") Submit
